body{
    background-color:#BFCDDC;
}

#heading{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;    
    margin: 10%;
}

#form{
    background-color: #203042;
    margin: auto;
    width: 50%;    
    padding: 20px;
    text-align: center;
    
}
#form label{
    color: #1C8D99 ;   
}

#form input{
    background-color: #C9EEF1 ;
    border-radius: 2px;
}

#form #submit{
    background-color: rgb(219, 206, 15);
    width: 15%;    
}
#form #submit:hover{
    background-color: red;
}
